/* styles.css */
html {
    background: #279acc;
background: linear-gradient(90deg, rgba(39, 154, 204, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
  color: hotpink;
  font-size: 5em;
}


pre {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: white;
}


.roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #ffffff;
}


p {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

div {
    font-size: 300px
    color: lightseagreen;
}
